.choose{
    background-color: #633b7c40;
    margin: 20px 0px;}

    .why{
        text-align: center;
    color: royalblue;
    font-family: fangsong;
    padding-top: 51px;
    margin-bottom: 17px;
    }


    .benifit{
    color: #000000a6;
    padding: 13px;
    font-family: monospace;
    }
h3{
    color: #000000f5;
    margin-left: 10px;
    font-family: initial;
}